body { margin: 0; padding: 0; background: #cccccc; font-family: arial; font-size: 0.9em; }

h1, h2 { color: #5E76A2; }

a:link, a:visited, a:active { color: #5e76a2; }
a:hover { color: black; }

#header { 
  background-color: #c8d4ea; 
}

#navigation { 
  padding: 1em;
  background-color: #c8d4ea; 
  overflow: hidden;
  height: 45px;
}

#navigation ul { list-style-type: none; margin: 0; padding:0; }
#navigation li { list-style-type: none; display: inline; }

#badgeTop ul { list-style-type: none; margin: 0; padding:0; }
#badgeTop li { list-style-type: none; }

#navlogo {
  float: left;
  margin-left: -210px;
  display: inline;
  height: 45px;
  background-color: transparent; 
}

#idContent {
  background-color: transparent;
  height: 45px;
}

#idbadge {
  float: right;
  display: inline;
  width:245px;
  background-color: transparent;
  height: 45px;
}

#badgeNav {
}

#content p { margin-top: 0; padding: 0; }

#content { 
/*
  margin-left: 1em;
  padding-right: 1em; 
*/
}

#footer { text-align: center; padding-bottom: 2em; height: 55px }
#footer span { font-style: italic; font-size: 0.7em; }

#LeftColumn {
  float: left;
  margin-left: -210px;
  display: inline;
  background-color: transparent;
}

#RightColumn {
  float: right;
  display: inline;
  width:245px;
  background-color: transparent;
}

#MainContent {
  background-color: white;
  padding: 1em;
}

#Weblet {
  background-color: white;
}
