body{
  /* top, side... Margin changes how much of the height/width of the page is consumed by the different components */
  margin:0px 0px;
  /* The borders control the padding (t,r,b,l) of the content wrt the outer rails, left is 150 and right is 200*/
  padding:0 200px 0 150px;
  /* Settings from before */
  background: #cccccc; font-family: arial; font-size: 0.9em;
} 

#container{
  background-color:#9cc;
  float:left;
  width:100%;
  border-left:150px solid #cf9; /* The width and color of the left rail */
  border-right:200px solid #c33; /* The width and color of the right rail */
  margin-left:-150px;
  margin-right:-200px;
  display:inline; /* So IE plays nice */
} 

#LeftColumn{
  float:left;
  width:150px;
  margin-left:-150px;
  position:relative;
  /* border: 1px solid black; */
} 

#MainContent{
  float:left;
  width:100%;
  margin-right:-100%;
} 

#RightColumn{
  float:right;
  width:200px;
  margin-right:-200px;
  position:relative;
} 

#header, #footer{
  background-color:#c8d4ea;
  margin-left:-150px;
  margin-right:-200px;
  clear:both;
} 

#header {
  padding:0px 0px 6px 0px;
}

#footer {
  padding:6px 0px 0px 0px;
}



h1, h2 { color: #FFFFFF; }

a:link, a:visited, a:active { color: #5e76a2; }
a:hover { color: black; }

#navigation { 
  padding: 1em;
  background-color: #c8d4ea; 
  overflow: hidden;
}

#navigation ul { list-style-type: none; margin: 0; padding:0; }
#navigation li { list-style-type: none; display: inline; }

#badgeTop ul { list-style-type: none; margin: 0; padding:0; }
#badgeTop li { list-style-type: none; }

#navlogo {
  float: left;
  margin-left: -210px;
  display: inline;
  background-color: transparent; 
}

#idContent {
  background-color: transparent;
  height: 45px;
  /* border: 1px solid black; */
}

#idbadge {
  float: right;
  display: inline;
  /*width:245px;*/
  background-color: transparent;
  height: 45px;
  /* border: 1px solid black; */
}


#badgeNav {
}

/* An OR Panel is a part of the page with some padding so the background shows through */
#ORPanel {
  padding:6px 6px 6px 6px;
}

#Weblet {
  background-color: white;
}

/* All our headings have no spacing above */
h1{
  margin:0;
  padding:5px;
}

/* Weblet h1 has red background */
#Weblet h1 {
  background-color: #c8d4ea;
  font-size: 0.9em;
}



/* Styles for AJAX controls */

div.auto_complete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
div.auto_complete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.auto_complete ul li.selected { background-color: #ffb;}
div.auto_complete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}
